*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav {
    border: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#logo {
    border: 100%;
    width: 10%;

}
button {
    background-color: transparent;
    color: black;
     border: none;
     padding: 30px 20px;
     text-align: center;
     text-decoration: none;
     transform: 0.9;
     font-size: medium;
     font: bolder;
     cursor: pointer;

}
.nav-links {
    display: flex;
    gap: 10px;
}
img {
    width:100%;
}
body {
    background-size: cover;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/20/1004/36/car-tesla-motors-tesla-roadster-supercars-wallpaper-preview.jpg);
}

